In [20]:
from pdfminer.pdfparser import PDFParser
from pdfminer.pdfdocument import PDFDocument
from pdfminer.pdfpage import PDFPage
from pdfminer.pdfpage import PDFTextExtractionNotAllowed
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.pdfdevice import PDFDevice
from pdfminer.layout import LAParams
from pdfminer.converter import PDFPageAggregator
import pdfminer
import pandas as pd 
import numpy as np

In [21]:
# Open a PDF file.
fp = open('<resume name here>.pdf', 'rb')

# Create a PDF parser object associated with the file object.
parser = PDFParser(fp)

# Create a PDF document object that stores the document structure.
# Password for initialization as 2nd parameter
document = PDFDocument(parser)

# Check if the document allows text extraction. If not, abort.
if not document.is_extractable:
    raise PDFTextExtractionNotAllowed

# Create a PDF resource manager object that stores shared resources.
rsrcmgr = PDFResourceManager()

# Create a PDF device object.
device = PDFDevice(rsrcmgr)

# BEGIN LAYOUT ANALYSIS
# Set parameters for analysis.
laparams = LAParams()

# Create a PDF page aggregator object.
device = PDFPageAggregator(rsrcmgr, laparams=laparams)

# Create a PDF interpreter object.
interpreter = PDFPageInterpreter(rsrcmgr, device)
df = pd.DataFrame( columns = ['x', 'y','value']) 
def parse_obj(lt_objs,df):

    # loop over the object list
    for obj in lt_objs:

        # if it's a textbox, print text and location
        if isinstance(obj, pdfminer.layout.LTTextBoxHorizontal):
            print ("%6d, %6d, %s" % (obj.bbox[0], obj.bbox[1], obj.get_text().replace('\n', '_')))
            #new_row = {'x':obj.bbox[0], 'y':obj.bbox[1], 'value':obj.get_text().replace('\n', '_')}
            new_row = {'x':obj.bbox[0], 'y':obj.bbox[1], 'value':obj.get_text()}
            df = df.append(new_row, ignore_index=True)

        # if it's a container, recurse
        elif isinstance(obj, pdfminer.layout.LTFigure):
            parse_obj(obj._objs,df)
            
    return df    

# loop over all pages in the document
for page in PDFPage.create_pages(document):

    # read the page into a layout object
    interpreter.process_page(page)
    layout = device.get_result()

    # extract text from this object
    df=parse_obj(layout._objs,df)

    50,    618, Compétences_
   190,    623, Formation_
   188,    755, Bedoui Amal_
   188,    714, Elève ingénieur en Data Science_
   449,    785, amal.bedoui@esprit.tn_
   463,    748, (+216) 99 995 795_
   482,    707,  Tunis, Tunisie_
   496,    672,  amal.bdo1_
   182,    597, Depuis 2014_
   249,    583, Cycle d’ingénieur à l’Ecole Supérieure Privée et de Technologie (ESPRIT) :_Option Data Science._
   182,    565, 2013-2014_
   249,    552, Baccalauréat au Lycée Pilote Bourguiba de Tunis (LPBT) :_Section sciences expérimentales._
   190,    519, Expérience professionnelle_
   168,    496,  Juin - Juil  2018  Stagiaire à TUNISIE TELECOM (Département Customer Value Management)_
   246,    466,   moyennant SAS._
   190,    430, Projets académiques_
   172,    405, Jan - Mai 2018_
   242,    377, Projet Data Science : Prédiction du diabète chez les femmes_Prédire si une femme sera atteinte du diabète._Réduire le taux d’atteinte du diabète par la détection précoce._
   173,    360, Jan - Mai 2018_
   244,    360, Mini-Projets Machine Learning_
   243,    331, Dégagement des règles d’association des personnes arrêtées mais innocentes._
   243,    291, Régression des sinistres automobiles corporels._Text mining et NLP sur les articles de la chirurgie esthétique._
   175,    274, Sep - Dec 2017_
   246,    274, Projet Business Intelligence_
   245,    244, Organisation et exploitation des données du Syndicat des transports _d'Île-de-France STIF : reporting et prédiction._
   175,    226, Jan - Mai 2017_
   246,    226, Conception et développement d'un projet intégré multiplateforme_
   245,    195, Création d'une application desktop, web et mobile de gestion de projets _au sein de l'entreprise._
   175,    178, Jan - Mai 2016  Conception et développement d'un site E-Commerce_
   175,    162, Sep - Dec 2015  Conception et développement d'un ERP dédié à TUNISAIR_
    23,    595, Python_
    23,    569, R_
    23,    544, SAS_
    23,    520, SQL SERVER_
    23,    494, POWER BI_
    23,    468, HADOOP_
    23,    445, SPARK_
    23,    421, SQL, PL/SQL_
    23,    351, SYMFONY3_
    23,    396, JEE_
    23,    373, JAVA_
    23,    324, C_
    23,    298, C++_
    23,    272, C#_
    23,    218, UNIX_
    19,    163, FRANÇAIS_
    19,    136, ANGLAIS_
    19,    110, ESPAGNOL_
    19,     84, ARABE_
    11,    248, PHP, JQUERY, AJAX_
    56,    186, Langues_
   185,    104, Mai 2018_
   185,     84, Février 2018_
   190,     54, Vie associative _
    37,     48, Centre d’intérêts_
    21,      7, Jouer au violon, jouer au piano,_Handball, Peinture, Taekwondo_
   185,     32, 2017-2018_
   256,     32, Trésorière au Club Data Science - Esprit._
   185,     12, 2012-2013_
   256,     12, Membre à Interact Club Bourguiba Tunis - LBPT._

In [22]:
print(df)

             x           y                                              value
0    50.413100  618.269500                                      Compétences\n
1   190.562500  623.986300                                        Formation\n
2   188.376000  755.792000                                      Bedoui Amal\n
3   188.376000  714.125500                  Elève ingénieur en Data Science\n
4   449.865200  785.835400                            amal.bedoui@esprit.tn\n
5   463.868200  748.039400                                (+216) 99 995 795\n
6   482.865200  707.427400                                   Tunis, Tunisie\n
7   496.505200  672.568400                                        amal.bdo1\n
8   182.906200  597.513075                                      Depuis 2014\n
9   249.503400  583.982500  Cycle d’ingénieur à l’Ecole Supérieure Privée ...
10  182.905300  565.847075                                        2013-2014\n
11  249.502900  552.315500  Baccalauréat au Lycée Pilote Bourguiba de Tuni...
12  190.562500  519.827100                       Expérience professionnelle\n
13  168.915000  496.167375   Juin - Juil  2018  Stagiaire à TUNISIE TELECO...
14  246.159200  466.969700                                   moyennant SAS.\n
15  190.562500  430.827100                              Projets académiques\n
16  172.916000  405.869575                                   Jan - Mai 2018\n
17  242.502900  377.671500  Projet Data Science : Prédiction du diabète ch...
18  173.916000  360.869575                                   Jan - Mai 2018\n
19  244.512700  360.868575                    Mini-Projets Machine Learning\n
20  243.502900  331.670900  Dégagement des règles d’association des person...
21  243.502900  291.257400  Régression des sinistres automobiles corporels...
22  175.916734  274.275727                                   Sep - Dec 2017\n
23  246.513700  274.270875                     Projet Business Intelligence\n
24  245.503400  244.072900  Organisation et exploitation des données du Sy...
25  175.911314  226.060393                                   Jan - Mai 2017\n
26  246.513700  226.059975  Conception et développement d'un projet intégr...
27  245.503400  195.862900  Création d'une application desktop, web et mob...
28  175.911314  178.894736  Jan - Mai 2016  Conception et développement d'...
29  175.911314  162.558775  Sep - Dec 2015  Conception et développement d'...
30   23.323700  595.361300                                           Python\n
31   23.074700  569.287100                                                R\n
32   23.075200  544.133800                                              SAS\n
33   23.074700  520.217100                                       SQL SERVER\n
34   23.074700  494.147100                                         POWER BI\n
35   23.074700  468.077100                                           HADOOP\n
36   23.074700  445.064500                                            SPARK\n
37   23.074700  421.584000                                      SQL, PL/SQL\n
38   23.323700  351.014600                                         SYMFONY3\n
39   23.226100  396.423800                                              JEE\n
40   23.074700  373.223600                                             JAVA\n
41   23.074700  324.940400                                                C\n
42   23.074700  298.870400                                              C++\n
43   23.074700  272.800400                                               C#\n
44   23.074700  218.250400                                             UNIX\n
45   19.323700  163.065400                                         FRANÇAIS\n
46   19.074939  136.995400                                          ANGLAIS\n
47   19.074939  110.925400                                         ESPAGNOL\n
48   19.074939   84.855400                                            ARABE\n
49   11.503563  248.730400                                PHP, JQUERY, AJAX\n
50   56.741200  186.272500                                          Langues\n
51  185.916000  104.225975                                         Mai 2018\n
52  185.916000   84.894369                                     Février 2018\n
53  190.562500   54.160200                                 Vie associative \n
54   37.642600   48.407200                                Centre d’intérêts\n
55   21.509300    7.453900  Jouer au violon, jouer au piano,\nHandball, Pe...
56  185.911163   32.226683                                        2017-2018\n
57  256.492200   32.169900        Trésorière au Club Data Science - Esprit.\n
58  185.911163   12.895078                                        2012-2013\n
59  256.492200   12.831900   Membre à Interact Club Bourguiba Tunis - LBPT.\n

In [23]:
df['x']=df['x'].astype(int)

In [24]:
df['bloc']=''
df['bloc'] = np.where(df['x'].between(0,100), 'L', df['bloc'])

df['bloc'] = np.where(df['x'].between(101,500), 'R', df['bloc'])

In [25]:
df_left = df[df['bloc'] == 'L']
df_right = df[df['bloc'] == 'R']

In [26]:
df_left=df_left.sort_values("y", ascending=False)
df_right=df_right.sort_values("y", ascending=False)

In [27]:
df_left

     x         y                                              value bloc
0   50  618.2695                                      Compétences\n    L
30  23  595.3613                                           Python\n    L
31  23  569.2871                                                R\n    L
32  23  544.1338                                              SAS\n    L
33  23  520.2171                                       SQL SERVER\n    L
34  23  494.1471                                         POWER BI\n    L
35  23  468.0771                                           HADOOP\n    L
36  23  445.0645                                            SPARK\n    L
37  23  421.5840                                      SQL, PL/SQL\n    L
39  23  396.4238                                              JEE\n    L
40  23  373.2236                                             JAVA\n    L
38  23  351.0146                                         SYMFONY3\n    L
41  23  324.9404                                                C\n    L
42  23  298.8704                                              C++\n    L
43  23  272.8004                                               C#\n    L
49  11  248.7304                                PHP, JQUERY, AJAX\n    L
44  23  218.2504                                             UNIX\n    L
50  56  186.2725                                          Langues\n    L
45  19  163.0654                                         FRANÇAIS\n    L
46  19  136.9954                                          ANGLAIS\n    L
47  19  110.9254                                         ESPAGNOL\n    L
48  19   84.8554                                            ARABE\n    L
54  37   48.4072                                Centre d’intérêts\n    L
55  21    7.4539  Jouer au violon, jouer au piano,\nHandball, Pe...    L

In [28]:
with open('right.txt', 'w', encoding = 'utf-8') as f:
    for rec_index, rec in df_right.iterrows():
        f.write(rec['value'] + '\n')

In [29]:
with open('left.txt', 'w', encoding = 'utf-8') as f:
    for rec_index, rec in df_left.iterrows():
        f.write(rec['value'] + '\n')